html{
    scroll-behavior:smooth;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

}
.header .links ul li{
    float:right;
}
.header .links ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    

}




